.typing-wave {
  display: flex;
  gap: 4px;
}

.typing-wave span {
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  animation: wave 1.2s infinite ease-in-out;
}

.typing-wave span:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-wave span:nth-child(3) {
  animation-delay: 0.4s;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff8800, #ff6a00);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ffa733, #ff7b00);
}


* {
  scrollbar-width: thin;
  scrollbar-color: #ff6a00 rgba(255, 255, 255, 0.15);
}


@keyframes wave {
  0%, 60%, 100% {
    transform: translateY(0);
    opacity: 0.6;
  }
  30% {
    transform: translateY(-6px);
    opacity: 1;
  }
}
